.about-us {
  border-top: 1px #000 solid;
  border-bottom: 1px #000 solid;
}

.about-us img {
  width: 634px;
  height: 784px;
  border: 1px #000 solid;
  margin: 43px;
}

.about-us-img {
  border-right: 1px #000 solid;
  max-width: 720px;
}
