.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger-menu-bar {
  width: 40px;
  height: 1px;
  background-color: #fffaea;
  margin: 7px 0;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.change .burger-menu-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 7px);
}
.change .burger-menu-bar:nth-child(2) {
  opacity: 0;
}

.change .burger-menu-bar:nth-child(3) {
  transform: rotate(-45deg) translate(15px, -15px);
}

.burger-menu-items {
  display: none;
}

.burger-menu-items.show {
  display: block;
}

.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.burger-menu .bar {
  width: 45px;
  height: 1px;
  margin: 7px 0;
  background-color: #fffaea;
  transition: 0.3s;
}

.burger-menu-items {
  display: none;
  color: #fffaea;
  font-size: 55px;
  border-top: 1px #fffaea solid;
  width: 468px;
  position: absolute;
  top: 130px;
  left: 415px;
}

.burger-menu-items a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 33px 0 33px 0;
  border-bottom: 1px #fffaea solid;
}

.burger-menu-items.show {
  display: block;
}
