.footer-2 {
  background-color: #221f1f;
  color: #fffaea;
  height: 773px;
  border-top: 1px black solid;
}

.footer-2 img {
  margin: 96px 0 45px 0;
}

.footer-2-content {
  font-size: 18px;
  margin-bottom: 135px;
  line-height: 30px;
}

.footer-2 h4 {
  font-size: 27px;

  font-weight: 400;
}

.footer-2 input {
  width: 483px;
  height: 42px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #fffaea;
  background-color: #221f1f;
  color: #a39f96;
  font-size: 18px;
  margin-top: 52px;
}

.footer-2-same-height {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -50px;
}

.footer-2-symbols-container {
  display: flex;
  align-items: center;
}

.footer-2-symbols {
  display: flex;
  gap: 25px;
  margin-left: auto;
  margin-right: 260px;
}

.footer-2-button {
  color: #221f1f;
  font-size: 18px;
  width: 146px;
  height: 42px;
  padding: 10px 20px;
  border-radius: 30px;
  background: #fffaea;
  text-decoration: none;
}

.footer-2-copyright {
  color: rgba(255, 250, 234, 0.5);
  font-size: 18px;
  margin-top: 80px;
}
