.footer-2 {
  background-color: #221f1f;
  color: #fffaea;
  height: 773px;
  border-top: 1px black solid;
}

.footer-2 img {
  margin: 96px 0 45px 0;
}

.footer-2 p {
  font-size: 18px;
  margin-bottom: 135px;
  line-height: 30px;
}

.footer-2 h4 {
  font-size: 27px;

  font-weight: 400;
}

.footer-2 input {
  width: 483px;
  height: 42px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 1px solid #fffaea;
  background-color: #221f1f;
  color: #a39f96;
  font-size: 18px;
  margin-top: 52px;
}
