.footer-1 {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  display: flex;
  margin: 43px 0 43px 0;
}

.footer-1 a {
  display: flex;
  width: 255px;
  padding: 10px 20px;
  gap: 27px;
  border-radius: 30px;
  border: 1px solid #221f1f;
  text-decoration: none;
  font-size: 18px;
  margin-top: 86px;
}

.footer-1-ont {
  border-right: 1px black solid;
  height: 421px;
}

.footer-1 h3 {
  padding-top: 95px;
}
