header {
  background-image: url(/img/Background.jpg);
  background-size: cover;
  height: 960px;
  border-bottom: 1px #000 solid;
  margin-bottom: 43px;
}

.header-logo {
  margin: 255px 0 0 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

header p {
  width: 575px;
  height: 182px;
  margin-top: 45px;
  color: #fffaea;
  font-size: 22px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}

.header-settings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 37px;
}

.burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.burger-menu .bar {
  width: 45px;
  height: 1px;
  margin: 7px 0;
  background-color: #fffaea;
  transition: 0.3s;
}

.menu-items {
  display: none;
}

.menu-items.show {
  display: block;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
