header {
  background-image: url(/img/Background.jpg);
  background-size: cover;
  height: 960px;
  border-bottom: 1 px #000 solid;
  margin-bottom: 43px;
}

.header-logo {
  margin: 255px 0 0 0;
}

header p {
  width: 575px;
  height: 182px;
  margin-top: 45px;
  color: #fffaea;
  font-size: 22px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}

.header-settings {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 37px;
}

.hide-on-menu {
  display: none;
}

.hide {
  display: none;
}
